{% include '/core/header.html' %}
{% include '/core/nav.html' %}
<main>
    <h1>List a space</h1>
    <p>List your space on MakersBnB and connect with a community of creative and professional individuals looking for unique places to stay and work. Fill out the form below with details about your space, including a name, description, nightly price, and availability dates, to make it ready for bookings. Share your space and start hosting with ease!</p>

    <div class="create-space-box">
        <form action="./" method="POST">
            <!-- We check to see if there are any errors from a previous submission -->
            {% if error %}
            <!-- If so, we show them. -->
            <p class="error">We encountered the following error with your submission: {{ error }}</p>
            {% endif %}
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
            <label for="price-per-night">Price per night (£)</label>
            <input type="text" name="price-per-night" id="price-per-night">
            <div class="two-col-grid">
                <div>
                    <label for="available-from">Available from (DD/MM/YY)</label>
                    <input type="date" name="available-from" id="available-from">
                </div>
                <div>
                    <label for="available-to">Available to (DD/MM/YY)</label>
                    <input type="date" name="available-to" id="available-to">
                </div>
            </div>
            <button type="submit">List my space</button>
        </form>
    </div>
</main>
{% include '/core/footer.html' %}