{% include '/core/header.html' %}
{% include '/core/nav.html' %}
<main>
    <h1>Book a space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam lacus, vestibulum nec eleifend in, dignissim nec ex. Duis non enim ut nunc luctus hendrerit fringilla id metus. Morbi vitae ornare mi, sit amet pretium velit. Praesent laoreet mi sit amet fermentum varius. Praesent nisi augue, efficitur porta ullamcorper pulvinar, vulputate ut est. Mauris et massa eros. Phasellus nisi ante, vehicula et ultricies et, varius eu mi.</p>
    <a href="/create-space-listing/"><p class="button-link">List a Space</p></a>
    <br>
    <h2>Filter by availability on date:</h2>
    <form action="./" method="get">
        <div class="two-col-grid">
            <div>
                <label for="available-from">Available from (DD/MM/YY)</label>
                <input type="date" name="available-from" id="available-from">
            </div>
            <div>
                <label for="available-to">Available to (DD/MM/YY)</label>
                <input type="date" name="available-to" id="available-to">
            </div>
        </div>
        <button type="submit">Filter for availability</button>
    </form>
    <h2>Available Spaces</h2>
    <div class="responsive-card-grid">
    {% for space in spaces %}
    <div class="listing-card">
    <a href="/space/{{space.space_id}}" name="{{ space.name }}">
    <h3>{{ space.name }}</h3>
    <p>{{ space.description }}</p>
    <p>Price: £{{ space.price_per_night }} per night</p></a>
    </div>
    {% endfor %}
    </div>
</main>
{% include '/core/footer.html' %}