{% include '/core/header.html' %}
{% include '/core/nav.html' %}
<main>
    <h1>Book a space</h1>
    <p>Welcome to MakersBnB, where you can explore a range of unique and inspiring spaces available for booking. Whether you're planning a creative retreat, a weekend getaway, or a workspace change, our listings offer diverse locations tailored to fit your needs. Use the options below to filter spaces by availability, and start your next experience today!</p>
    {% if logged_in %}
    <a href="/add-spaces"><button>List a Space</button></a>
    {% endif %}
    <br>
    <h2>Filter by availability on date:</h2>
    <form action="./" method="get">
        <div class="two-col-grid">
            <div>
                <label for="available-from">Available from (DD/MM/YY)</label>
                <input type="date" name="available-from" id="available-from">
            </div>
            <div>
                <label for="available-to">Available to (DD/MM/YY)</label>
                <input type="date" name="available-to" id="available-to">
            </div>
        </div>
        <button type="submit">Filter for availability</button>
    </form>
    <h2>Available Spaces</h2>
    <div class="responsive-card-grid">
    {% for space in spaces %}
    <div class="listing-card">
    <a href="/space/{{space.space_id}}" name="{{ space.name }}">
    <h3>{{ space.name }}</h3>
    <p>{{ space.description }}</p>
    <p>Price: £{{ space.price_per_night }} per night</p></a>
    </div>
    {% endfor %}
    </div>
</main>
{% include '/core/footer.html' %}
