{% include '/core/header.html' %}
{% include '/core/nav.html' %}
<h1>Feel at home, anywhere</h1>
<p>Join the MakersBnB community and unlock access to unique spaces tailored for creativity and relaxation. Signing up is quick and easy—just fill in your details below. Once registered, you can list your own space, book spaces from other members, and connect with a network of like-minded individuals. Become part of our creative community today!</p>
<h2>Sign up to MakersBnB</h2>
<div class="login-box">
    <form action="./sign-up" method="POST">
        {% if error %}
        <!-- If so, print the error -->
        <p class="error">Sign up error: {{ error }}</p>
        {% endif %}
        <label for="email">Email Address</label>
        <input required type="text" name="email" id="email" placeholder="email@example.com">
        <label for="password">Password</label>
        <input required type="password" name="password" id="password" placeholder="********">
        <label for="confirm-password">Confirm Password</label>
        <input required type="password" name="confirm-password" id="confirm-password" placeholder="********">
        <button type="submit">Sign up</button>
    </form>
</div>

{% include '/core/footer.html' %}