body {
    font-size: 18px;
}

.right-nav-area {
    float: right;
}

.nav-icon {
    width: 48px;
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 20px 0px;
}

.responsive-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    
}

.responsive-card-grid div {
    border-radius: 5px;
}
.listing-card {
    border: 1px solid grey;
    padding: 10px;
}
